@use "./_custom" as *;

.header-image {
  object-position: center top;
}

.resources-section {
  background-color: $white;
  padding: 6rem 10rem;
  gap: 50px;

  //responsive
  @include media-breakpoint-down(xl) {
    padding: 4rem 1rem;
  }

  .card-header {
    cursor: pointer;
  }

  .card-header[aria-expanded="true"] .fa-chevron-right {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }

  .list-group-item a {
    color: $info !important;
  }

  .list-group-item a:hover {
    color: $secondary !important;
  }
}
