@use "./_custom" as *;

.services-section {
  background-color: $blue-light;
  padding: 6rem 10rem;
  gap: 50px;

  //responsive
  @include media-breakpoint-down(xl) {
    padding: 4rem 1rem;
  }

  .row {
    //responsive
    @include media-breakpoint-down(lg) {
      gap: 20px;
    }
  }

  .img {
    height: 50vh;
  }
}

.cards-section {
  background-color: $blue-light;
  padding: 0rem 10rem 6rem 10rem;
  gap: 50px;

  //responsive
  @include media-breakpoint-down(xl) {
    padding: 4rem 1rem;
  }
}

.overview-section {
  padding: 6rem 10rem;

  //responsive
  @include media-breakpoint-down(xl) {
    padding: 4rem 1rem;
  }

  h3 {
    margin: 0;
  }
}

.pill-section {
  .row {
    background-color: $blue-light;
  }
}
