@use "./_custom" as *;

.intro-section {
  height: 50vh;
  background-image: url("/images/header-img-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .content {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  }

  .header {
    font-weight: 600;
    font-size: 3rem !important;

    //responsive
    @include media-breakpoint-down(md) {
      font-size: $font-xlarge !important;
    }

    @include media-breakpoint-down(sm) {
      width: min-content;
      font-size: $font-xlarge !important;
    }
  }

  .description {
    font-size: $font-medium;
  }

  .btn {
    background-color: transparent;
    border: 2px solid $white;
    color: $white;
    width: fit-content;
  }
}

.purpose-section {
  padding: 6rem 8rem;

  //responsive
  @include media-breakpoint-down(xl) {
    padding: 4rem 2rem;
  }

  .description {
    font-size: $font-small;
  }
}
