@use "./_custom" as *;

.intro-section {
  background-color: $blue-light;
  padding: 6rem 8rem;
  gap: 70px;

  //responsive
  @include media-breakpoint-down(xl) {
    padding: 4rem 1rem;
  }

  .header {
    border-bottom: 2px solid $secondary;
    width: fit-content;

    //responsive
    @include media-breakpoint-down(sm) {
      width: min-content;
    }
  }

  .description {
    font-size: $font-medium;
  }

  .btn {
    max-width: 267px;

    //responsive
    @include media-breakpoint-down(xl) {
      width: 100% !important;
      max-width: 100%;
    }
  }

  .brain-image-container {
    .brain-image {
      max-width: 250px;
    }
  }
}

.purpose-section {
  padding: 6rem 8rem;

  //responsive
  @include media-breakpoint-down(xl) {
    padding: 4rem 2rem;
  }

  .description {
    font-size: $font-small;
  }
}
