---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import BookAppointment from "../components/BookAppointment.astro";
import "../styles/faq.scss";
---

<BaseLayout title="Frequently Asked Questions - AK Neuropsychology">
  <slot name="nav"><NavBar /></slot>
  <img
    class="header-image w-100 object-fit-cover"
    src="/images/header-img-8.jpg"
    alt="
    "
  />
  <section id="faq-section" class="faq-section row justify-content-center">
    <div class="col-md-12 d-flex flex-column gap-3">
      <h2 class="h1 purpose-title text-primary m-0">
        Frequently Asked Questions:
      </h2>
      <p class="text-muted mb-4">
        Below are some of the most common questions patients have about their
        assessment process. If you don’t find the answer you're looking for,
        feel free to reach out directly.
      </p>
      <div class="card">
        <div
          class="card-header collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#body-1"
          aria-expanded="false"
          aria-controls="body-1"
          tabindex="0"
        >
          <span>
            <i class="fas fa-chevron-right me-1"></i>
          </span>
          What is the difference between a neuropsychological assessment and a psychological
          assessment?
        </div>
        <div class="collapse" id="body-1">
          <div class="card-body">
            <p class="card-text">
              A neuropsychological assessment includes both cognitive and
              psychological evaluation / testing. This type of assessment is
              recommended when a person has concerns regarding cognitive
              function (thinking abilities, such as attention, memory, and
              problem solving). This assessment is designed to determine not
              only diagnosis but also the root cause of cognitive concerns
              (e.g., issues related more to emotional/psychological factors or
              to neurological factors).
            </p>
            <p class="card-text">
              Psychological assessment is recommended when a person has concerns
              regarding mental health. This assessment focuses only on
              psychological / emotional / personality evaluation.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div
          class="card-header collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#body-2"
          aria-expanded="false"
          aria-controls="body-2"
          tabindex="0"
        >
          <span>
            <i class="fas fa-chevron-right me-1"></i>
          </span>
          How long will my assessment take?
        </div>
        <div class="collapse" id="body-2">
          <div class="card-body">
            <p class="card-text">
              Assessments vary in length to complete, in part, because different
              people work at different paces on the various tests. On average, a
              neuropsychological assessment takes 6 – 8 hours. On average, a
              psychological assessment takes 3 – 5 hours. The assessment can be
              completed over more than one day.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div
          class="card-header collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#body-3"
          aria-expanded="false"
          aria-controls="body-3"
          tabindex="0"
        >
          <span>
            <i class="fas fa-chevron-right me-1"></i>
          </span>
          May I take breaks?
        </div>
        <div class="collapse" id="body-3">
          <div class="card-body">
            <p class="card-text">
              Absolutely. A lunch break is always scheduled but additional
              breaks can be taken as often as needed and when requested.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div
          class="card-header collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#body-4"
          aria-expanded="false"
          aria-controls="body-4"
          tabindex="0"
        >
          <span>
            <i class="fas fa-chevron-right me-1"></i>
          </span>
          Do I need to bring anything to the appointment?
        </div>
        <div class="collapse" id="body-4">
          <div class="card-body">
            <p class="card-text">
              Yes. It is important to bring any required aids or items that you
              find helpful, such as glasses, reading glasses, hearing aids, an
              Obus Form (for seating comfort), etc. Also ensure to bring a list
              of your current medications. Some people may choose to complete
              the Intake Questionnaire ahead of time and bring this to the
              assessment appointment. Finally, you may choose to bring lunch /
              snacks, or money to purchase food at nearby stores.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div
          class="card-header collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#body-5"
          aria-expanded="false"
          aria-controls="body-5"
          tabindex="0"
        >
          <span>
            <i class="fas fa-chevron-right me-1"></i>
          </span>
          Is there anything I can do to prepare?
        </div>
        <div class="collapse" id="body-5">
          <div class="card-body">
            <p class="card-text">
              There is no way to study for this type of testing and no
              preparation for the testing is required. The tests are not like
              school exams. However, you can prepare by being well rested (good
              sleep the night before) and alert.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div
          class="card-header collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#body-6"
          aria-expanded="false"
          aria-controls="body-6"
          tabindex="0"
        >
          <span>
            <i class="fas fa-chevron-right me-1"></i>
          </span>
          Can I get a copy of my tests?
        </div>
        <div class="collapse" id="body-6">
          <div class="card-body">
            <p class="card-text">
              The actual tests can not be released. However, you will have
              access to the results and the report either directly during a
              follow-up feedback session or through requesting a copy of your
              report.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <slot name="book-appointment"><BookAppointment /></slot>
  <slot name="footer"><Footer /></slot>
</BaseLayout>
