---
import BaseLayout from "../layouts/BaseLayout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import "../styles/what-we-do.scss";
---

<BaseLayout title="What We Do - AK Neuropsychology">
  <slot name="nav"><NavBar /></slot>

  <section id="home" class="intro-section row justify-content-center">
    <!-- START THE CONTENT FOR THE INTRO -->
    <div class="col-md-6 intros animate__animated animate__fadeInLeft">
      <div class="d-flex flex-column gap-3 text-secondary">
        <h1 class="header m-0">Comprehensive Assessments</h1>
        <span class="description">
          Gain clarity on the factors influencing your thinking, emotions, and
          daily functioning.
        </span>
        <span class="description">
          Receive personalized insights and evidence-based treatment
          recommendations.
        </span>
        <a
          href="/contact"
          class="btn btn-primary btn-lg text-white w-50 d-inline-flex align-items-center justify-content-between"
        >
          Book An Appointment
          <span class="ms-2">
            <i class="fas fa-arrow-right"></i>
          </span>
        </a>
      </div>
    </div>
    <div
      class="col-md-4 brain-image-container text-center animate__animated animate__fadeInLeft"
    >
      <img class="brain-image" src="public/images/brain.png" alt="" />
    </div>
  </section>

  <section class="purpose-section">
    <div class="row text-center justify-content-center">
      <div class="col-md-8 animate__animated animate__fadeInUp">
        <div class="d-flex flex-column gap-3 text-secondary">
          <h2 class="header text-secondary m-0 text-info">What We Do</h2>
          <div class="description">
            Neuropsychology is a subspecialty of Psychology that focuses on the
            study of brain – behaviour relationships. The role of a
            Neuropsychologist is to evaluate a person’s cognitive and emotional
            functioning, to determine diagnosis, and to provide treatment
            recommendations.
          </div>
          <div class="description">
            Dr. Kilgour works collaboratively with a number of other
            Psychologists within the <a
              href="https://www.avapsychologygroup.ca/"
              target="_blank"
              rel="noopener noreferrer">AVA Psychology Group</a
            > who provide specialized services.
          </div>
        </div>
      </div>
    </div>
  </section>

  <slot name="footer"><Footer /></slot>
</BaseLayout>
