---
import "../styles/book-appointment.scss";
---

<section
  class="book-appointment-section d-flex justify-content-center align-items-center gap-3"
>
  <span class="h3">Find Available Appointments</span>
  <a
    href="/contact"
    class="btn btn-primary btn-lg d-inline-flex align-items-center justify-content-between rounded-0"
  >
    Book Online
  </a>
</section>
