---
import "../styles/footer.scss";

// const {
//   contactName = "Andrea Kilgour",
//   contactRole = "Neuropsychologist",
//   contactEmail = "akneuropsych.contact@gmail.com",
// } = Astro.props;
---

<footer id="footer" class="footer-section font-small blue pt-4">
  <div class="container text-left text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="footer-title-1 text-uppercase">ABOUT</h5>
        <p class="footer-description-1">
          Dr. Andrea Kilgour, Ph.D., R.Psych., C. Psych.
        </p>
        <p class="footer-description-2">
          Registered Psychologist in Alberta and Manitoba, specializing in
          Neuropsychology in all areas related to clinical care, personal
          injury, sport concussion, dementia queries, and more.
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3" />
      <div class="contact col-md-6 mb-md-0 mb-3 border-start border-grey ps-5">
        <h5 class="footer-title-2 text-uppercase">Contact</h5>
        <ul class="list-unstyled">
          <li>
            <i class="fas fa-user"></i>
            <span>Andrea Kilgour</span>
          </li>
          <li>
            <i class="far fa-building"></i>
            <span>Neuropsychologist</span>
          </li>
          <li>
            <i class="fas fa-map-marker-alt"></i>
            <a
              href="https://g.page/ak-neuropsych?share"
              target="_blank"
              rel="noopener noreferrer"
              >#130, 4520 16 Ave. NW Calgary, AB, T3B 0M6</a
            >
          </li>
          <li>
            <i class="fas fa-phone-alt"></i>
            <a href="tel:(587) 216-8132">(587) 216-8132</a>
          </li>
          <li>
            <i class="fas fa-fax"></i>
            <span>(587) 504-2947</span>
          </li>
          <li>
            <i class="fas fa-envelope"></i>
            <a
              href="mailto:%64%72%2E%61%6B%69%6C%67%6F%75%72%40%67%6D%61%69%6C%2E%63%6F%6D"
            >
              dr.akilgour@gmail.com
            </a>
          </li>
          <li>
            <i class="fas fa-globe"></i>
            <a
              href="https://akneuropsych.com"
              target="_blank"
              rel="noopener noreferrer">akneuropsych.com</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2021 · akneuropsych.com
  </div>
</footer>
